@use "styles/setup" as *;

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  .submitButton {
    width: 100%;
  }
}
