@use "styles/setup" as *;

.header {
  @include context("dark");

  padding: $spacing-sm 0;
  background-color: $context-main;
  color: $context-contrast;
}

.main {
  padding: $spacing-lg 0;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-lg;
  }
}
