@use "styles/setup" as *;

.component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(4);

  .select {
    @include typography-bodyMedium();

    width: 100%;
    height: rem(40);
    border-radius: $borderRadius-lg;
    border: $borderWidth-sm solid $palette-secondary;
    padding: 0 $spacing-xs;

    &:focus,
    &:focus-visible {
      border: $borderWidth-sm solid $palette-black;
    }
  }

  .placeholder {
    color: $palette-secondary;
  }

  .errorMessage {
    color: $palette-danger;
  }
}
