// color palette
$palette-white: #fff;
$palette-black: #000;
$palette-primary: #0d6efd;
$palette-secondary: #6c757d;
$palette-success: #198754;
$palette-danger: #dc3545;
$palette-warning: #ffc107;
$palette-info: #0dcaf0;
$palette-light: #f8f9fa;
$palette-dark: #212529;
