// General
$palette-white: #fff;

// black
$palette-black500: #242325;
$palette-black300: #373539;

// Blue
$palette-blue500: #1d4fa3;
$palette-blue300: #2878d2;
$palette-blue200: #f2f7fa;

// Orange
$palette-orange500: #e75f48;
$palette-orange300: #f5bfb5;
$palette-orange200: #fef7f5;

// Green
$palette-green500: #009b7f;
$palette-green300: #99d7cc;
$palette-green200: #f2faf8;

// Purple
$palette-purple500: #b0325d;
$palette-purple300: #efd6de;
$palette-purple200: #fbf4f7;

// Yellow
$palette-yellow500: #ffe990;
$palette-yellow300: #ffefb1;
$palette-yellow200: #fff8dd;

// Grey
$palette-gray500: #5f5d61;
$palette-gray300: #f0eef2;
